.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#drawer{
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(calc(-50% - 20px));
    height: 70%;
    width: 70px;

    background-color: #2B2D31;
    margin: 20px 15px;
    border-radius: 15px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.menu-item {
    width: 50px !important;
    height: 30px !important;
    background-color: red;
}

.menu-item__dashboard {

    -webkit-mask-image: url("../../assets/resources/circle-user.svg");
    mask-image: url("../../assets/resources/circle-user.svg");
}



@media (max-aspect-ratio: 4/5){
    .container{
        height: 100%;
        padding-left: 0;
    }

    #drawer{
        position: fixed;
        left: 50%;
        top: calc(100% - 40px);
        transform: translateX(calc(-50% - 20px)) translateY(-100%);
        bottom: 20px;
        height: 70px;
        width: 70%;
        flex-direction: row;
    }
}

#content{
    height: 100%;
    width: 92%;
}

.menu-item{
    margin: 20px 10px;
    text-align: center;
}

mat-icon{
    font-size: 40px;
    height: auto;
    width: auto;
    color: #C0C0C0;
}

.menu-item:hover {
    background-color: #c0c0c077;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}

.menu-item:hover>mat-icon {
    color: #2B2D31;
}