<div class="container">
    <div id="drawer">
        <div class="menu-item menu-item__dashboard" (click)="this.switchMenuItem('dashboard')">
            
        </div>
        <div class="menu-item" (click)="this.switchMenuItem('training')">
            <img
            src="../../assets/resources/book-bookmark.svg"
            alt="triangle with all three sides equal"
            height="30"
            width="30" />
        </div>
        <div class="menu-item" (click)="this.switchMenuItem('barter')">
            <img
            src="../../assets/resources/store-alt.svg"
            alt="triangle with all three sides equal"
            height="30"
            width="30" />
        </div>
    </div>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
