<h1 class="pageTitle">Marketplace</h1>

<div class="container" fxLayout="row wrap" fxLayoutAlign="center stretch">

    <!--
        // Ça devrait permettre de créer toutes les tiles automatiquement
        // Faudra enmever tous les autres en-dessous

    <div *ngFor="let item of items; index as i"></div>
        <div class="subContainer">
            <a href="{{ item.link }}">
                <img class="sale-image" src="{{ item.src }}" alt="Marketplace image">
                <p class="card-price">{{ item.price }}€</p>
                <h3 class="card-title">{{ item.title }}</h3>
                <p class="card-city">{{ item.city }}</p>
                <p class="card-description">{{ item.description }}</p>
            </a>
        </div>
    </div>
    -->

    <div class="subContainer">
        <a href="#">
            <img class="sale-image" src="https://www.leparisien.fr/resizer/T2CswOmKUOJlLiuF822PPpnuNWE=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/lpguideshopping/W74PJQK3XBDLZJ7DJ5S6UIFUDY.jpg" alt="Marketplace image">
            <p class="card-price">25€</p>
            <h3 class="card-title">Pull over en laine</h3>
            <p class="card-city">Bar-le-Duc</p> 
            <p class="card-description">Je vends un pull over en laine, état neuf. Livraison possible (+4.99€). Contact par mail uniquement !</p>
        </a>
    </div>

    <div class="subContainer" >
        <p>quota-dashbaord works!</p>
    </div>

    <div class="subContainer">
        <p>quota-dashbaord works!</p>
    </div>

    <div class="subContainer">
        <p>quota-dashbaord works!</p>
    </div>
    <div class="subContainer">
        <p>quota-dashbaord works!</p>
    </div>
    <div class="subContainer">
        <p>quota-dashbaord works!</p>
    </div>
    <div class="subContainer">
        <p>quota-dashbaord works!</p>
    </div>

</div>