<h1 class="pageTitle">Marketplace</h1>

<div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher">
    <button (click)="search()">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </button>
</div>

<div class="container" fxLayout="row wrap" fxLayoutAlign="center stretch">

    <div *ngFor="let item of marketItems">    
        <div class="subContainer">
            <a href="{{ item.link }}">
                <img class="sale-image" src="{{ item.imageLink }}" alt="Marketplace image">
                <p class="card-price">{{ item.price }}€</p>
                <h3 class="card-title">{{ item.title }}</h3>
                <p class="card-city">{{ item.city }}</p>
                <p class="card-description">{{ item.description }}</p>
            </a>
        </div>
    </div>
    
</div>