<div class="container" fxLayout="row wrap" fxLayoutAlign="center stretch">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="subContainer" fxFlex="32.5">
            <p>quota-dashbaord works!</p>
        </div>
    
        <div class="subContainer" fxFlex="22.5">
            <p>quota-dashbaord works!</p>
        </div>
    
        <div class="subContainer" fxFlex="40">
            <p>quota-dashbaord works!</p>
        </div>
    </div>

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="subContainer" fxFlex="47.5">
            <p>quota-dashbaord works!</p>
        </div>
    
        <div class="subContainer" fxFlex="47.5">
            <p>quota-dashbaord works!</p>
        </div>
    </div>

</div>

