<div class="container" fxLayout="row wrap">


    <div class="tile--user content-padding" id="user-info">
        <img
            id="user-picture"
            src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
            alt="user picture" />

        <div id="user-name">
            <h1 id="user-lastname">Bon</h1>
            <h1 id="user-firstname">Jean</h1>

            <div class="user-tags" *ngFor="let item of list">{{item}}</div>

            <div class="user-tags">27/01/2035</div>
            <div class="user-tags">Homme</div>
            <div class="user-tags">3 enfants</div>
        </div>

        <div class="user-alert">
            Un membre de votre famille va bientôt atteindre son quota maximal. Une fois atteint, une action sera nécessaire pour regagner des points.
        </div>
        
    </div>


    <div class="tile tile--squared content-padding">
        <h1>Quota personnel</h1>
        <circle-progress class="quota--big" text-format="percent" value="28" max="100"></circle-progress>
        <div class="quota__text--big">28</div>
        <p class="quota--reset">Réinitialisé le 31/12/2058</p>
    </div>


    <div class="tile tile--doublesquared">
        <div class="tile--squared content-padding">
            <h1>Quota famillial</h1>
            <circle-progress class="quota--big" text-format="percent" [value]=test max="100"></circle-progress>
            <div class="quota__text--big">{{test}}</div>
        </div>
        <div class="separator"></div>
        <div class="tile--squared content-padding">
            <div class="family-list">
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
                <div class="family-item">
                    <img class="family__picture"
                        src="https://img.freepik.com/photos-gratuite/portrait-homme-blanc-isole_53876-40306.jpg"
                        alt="user picture"/>
                    <div class="quota--small">
                        <circle-progress class="quota__indicator--small" text-format="percent" value="89" max="100"></circle-progress>
                        <div class="quota__text--small">100</div>
                    </div>
                    <div class="family__info">
                        <div class="family__info__name">Marcel</div>
                        <div class="family__info__tags">
                            <div class="family__info__tagitem">Enfant</div>
                            <div class="family__info__tagitem">Garçon</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    <div class="tile tile--doublesquared">
        <h1>Dernières actions</h1>
        <div class="tile--transaction">
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--positif">-6.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
            <div class="transaction-line">
                <div class="transac__title">achat</div>
                <div class="transac__date">15/01/2058</div>
                <div class="transac__montant">60$</div>
                <div class="transac__credit transac--negatif">+56.6 cc</div>
            </div>
        </div>
        
    </div>


    <div class="tile tile--doublesquared">
        <div class="tile--squared content-padding">
            <h1>Quota de la ville</h1>
            <circle-progress class="quota--big" text-format="percent" value="89" max="100"></circle-progress>
            <div class="quota__text--big">89</div>
        </div>
        <div class="separator"></div>
        <div class="tile--squared content-padding">
            <div class="sanction--applied">
                <h2>Sanctions appliquées</h2>
                <div class="sanction">
            </div>
        </div>
    </div>


    <!--<div *ngFor="" (click)="">
        
    </div>-->
    
    
    
    
</div>

