
<h1 mat-dialog-title>Actions possibles</h1>

<p>Vous avez atteint le quota maximal.<br/>Vous devez donc effectuer une des actions ci-dessous.</p>
<mat-dialog-content>
    <div class="action-item" *ngFor="let action of actions" (click)="apply(action.id)" mat-dialog-close>
      <h1>{{action.label}}</h1>
      <p>{{action.tigName}}</p>
      <p>{{action.quota}} cc</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Fermer</button>
</mat-dialog-actions>
